<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div> -->


<div>
  <h1>PDX Bike Theft</h1>
  <div class="row">
    <ui-gmap-google-map center="map.center" zoom="map.zoom">

      <ui-gmap-marker coords="marker.coords" options="marker.options" 
        events="marker.events" idkey="marker.id"></ui-gmap-marker>

      
      <ui-gmap-markers models="markerBreakdown"
       coords="'self'" idkey="id" fit="true" options="'markerOptions'"></ui-gmap-markers>
      
    
    </ui-gmap-google-map>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <button type="button" class="btn btn-danger btn-lg btn-block" ng-click="rackSearch()">Search button</button>
    </div>
    <div class="col-xs-4">
      <div class="dropup">
        <button class="btn btn-default btn-lg btn-block dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Distance: {{distance}}m
        <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="distFunc(50)">50m</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="distFunc(100)">100m</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="distFunc(150)">150m</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="distFunc(200)">200m</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
 